html{
    font-family: sans-serif;
    min-width: 1000px;
    background-color: #fffffa;
}
.size{
    margin:0rem auto;
    width: 800px;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.generic-img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.bg-white{
    background-color: #fff;
}
.padding-around{
    padding: 1rem;
}
.padding-bottom{
    padding-bottom: 1rem;
}
.generic-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.generic-text{
    text-indent: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.stick-top{
    position: sticky;
    top: 0;
    left: 0;
}
.nav-item{
    width: 25%;
    height: 4rem;
    gap: 0.2rem;
    text-align: center;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}
a:link,
a:visited,
a:active{
    text-decoration: none;
    color:inherit;
}